body {
    background: #f1f1f1;
}

#content-container {
    margin: auto;
    max-width: 800px;
    min-width: 500px;
}

#avatar {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 7px 2px #ccc;
    background-color: ffffff;
    background-image: url("avatar.png");
    background-size: 150px;
}

#about {
    display: inline-block;
    max-width: 800px;
    min-width: 300px;
    width: 70%;
    background: #ffffff;
    box-shadow: 0px 0px 7px 2px #ccc;
    margin: auto auto auto 15px;
    padding: 5px 15px;
}

#content {
    font-family: sans-serif;
}

#video-container {
    margin: 15px 0px;
}

.video-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/**
 * original - 320x180
 **/
.yt-video {
    width: 380px;
    height: 213.75px;
    box-shadow: 0px 0px 7px 2px #ccc;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.yt-video:hover {
    opacity: 0.8;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-github {
    background: #333333;
    color: #fafafa;
}

.social-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 0px 7px 2px #ccc;
    padding: 15px;
}
